body{
	margin:0;
	padding:0;
	font-family:Arial;
	background:white;
	background-size:100%;
	background-position:top fixed;
	background-repeat:repeat;
}
nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100px;
	padding:10px 80px;
	box-sizing:border-box;
	background:rgba(0,0,0,0.5);
}
nav .logo{
	height:100%;
	float:left;	
}
nav ul {
	list-style:none;
	float:right;
	margin:0;
	padding:0;
	display:flex;
	position:sticky;
}
nav ul li a{
	line-height:80px;
	color:#fff;
	padding:12px 30px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
}
nav ul li a:hover{
	background:rgba(0,0,0,0.7);
	border-radius:6px;
}
nav ul li a.active{
	background:darkorange;
	color:#fff;
	border-radius:6px;
}
.sidenavigation{
	margin-left:15px;
	width:15%;
	height:50%;
	border:1px solid BLUE;
	padding:10px;
	float:left;
	border-radius:5px;
	background-color: #87AFC7;
	color:Dark blue;
	text-transform:uppercase;
	font-size:18px;
	font-family:Roboto-Thin;	
}

.sidenavigation1{
	margin-left:15px;
	width:15%;
	height:60%;
	border:1px solid BLUE;
	padding:10px;
	float:left;
	border-radius:5px;
	background-color: #87AFC7;
	color:Dark blue;
	text-transform:uppercase;
	font-size:18px;
	font-family:Roboto-Thin;	
}

.policy{
	margin:10px;
	width:80%;
	height:70%;
	padding:20px;
	float:left;
}